[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=van
Group=van
WorkingDirectory=/home/van/app/src
Environment="PATH=/home/van/app/venv/bin"
EnvironmentFile=/home/van/.env
ExecStart=/home/van/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target